@page

@model RegisterModel


@if(User.IsInRole(WC.AdminRole))
{
    <h1>Register an Admin Account</h1>
}
else
{
    <h1>Register</h1>
}

<div class="row d-flex justify-content-center align-items-center h-100">
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <i class="fas fa-phone"></i>
                    <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if(User.IsInRole(WC.AdminRole))
            {
                <button type="submit" class="btn btn-warning">Register Admin User</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Register  </button>
            }
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
            <section class="row d-flex justify-content-center align-items-center h-100">
            <h4 class="text-center">Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 w-100">

                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                             class="img-fluid" alt="">

                        </div>
                   
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



